*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    margin-right: -400px;
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #A81919;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    
     
}
.col-2 h3{
    margin: 10px ;
}
body{
    background-color: rgb(245, 245, 245);
}

.footerA{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}





.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ecab9d;
    padding: 3px;
}
select:focus{
    outline: none;
}


.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 80px;

}
.title::after{
    content: '';
    background: #A81919;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #741313;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn :hover{
    background: #A81919;
    color: #fff;
}

/*-------product details -----*/
.single-product{
    margin-top: 80px;

}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid #913521;
}
input:focus{
    outline: none;
}
.single-product .fa{
   
    margin-left: 10px;
}


/*------card items details--*/

.card-page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.card-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #96311a;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #352ad6;
}
td img{
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #96311a;
    width: 100%;
    max-width: 410px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*---mobile adaptation---*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .card-info p{
        display: none;
    }
}

/* Style the navigation bar */
.navbar {
    width: 101%; 
    height: 48px;
    margin-top: 5%;
    margin-left: -80px;
    margin-left: -100px; 
          
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 18px;
    color: #96311a;
    font-size: 22px;
    text-decoration-line: none;
  
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:black;
    text-decoration-line: underline;
  
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  
